<h1><%= t '.Login Page' %></h1>

<%= form_with( scope: :session, url: sessions_path, local: true ) do |f| %>
  <%= f.label :email, 'email：' %>
  <%= f.email_field :email %>

  <br>

  <%= f.label :password_digest, t('sessons.new.password_digest') %>
  <%= f.password_field :password_digest %>

  <br>
  <%= f.submit 'login' %>

<% end %>
