<%= form_with(model: @task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited_this_task_from_being_saved:</h2>

      <ol>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ol>
    </div>
  <% end %>

  <ol class = 'ul_form'>
    <div class="field_title">
      <li><%= form.label :title %></li>
      <%= form.text_field :title %>
    </div>

    <div class="field_content">
      <li><%= form.label :content %></li>
      <%= form.text_area :content %>
    </div>

    <div class="field_deadline">
      <li><%= form.label :deadline %></li>
      <%= form.date_field :deadline %>
    </div>

    <div class="field_priority">
      <li><%= form.label :priority %></li>
      <%= form.select :priority, [["高", "高"],["中", "中"],["低", "低"]] %>
    </div>

    <div class="field_status">
      <li><%= form.label :status %></li>
      <%= form.select :status, [["未着手", "未着手"],["着手中", "着手中"],["完了", "完了"]] %>
    </div>

    <div class="field_labels">
      <% label_list.each do |label| %>
      <%= form.check_box :label_ids, { multiple: true, checked: @task.label_ids.include?(label.id), disabled: label[:disabled], include_hidden: false}, label[:id]%>
      <label><%= label.label_type %></label>
      <% end %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  </ol>
<% end %>
