<p id="notice"><%= notice %></p>

<h1><%= t '.Tasks' %></h1>

<div class = 'info_sort'>
  <%= link_to "　①：完了期限でソート　", tasks_path(sort_deadline: "true") %>
  <%= link_to "　②：優先順位でソート　", tasks_path(sort_priority: "true") %>
</div>

<div class = 'info_form'>
  <%= form_with( model: Task.new, local: true, url: tasks_path, method: 'get' ) do |f| %>
    <%= f.label :title_search, "【タイトルで検索】" %>
    <%= f.text_field :title %>

    <div class = 'info_status_select'>
      <%= f.label :status_search, "【着手状況で検索】" %>
      <%= f.select :status, [["",""],["未着手",'未着手'], ["着手中", '着手中'], ["完了", '完了']] %>
      <%= f.hidden_field :search, value: 'true' %>
      <%= f.submit '検索はコチラ' %>
    </div>

  <% end %>
</div>

<table border = '1'>
  <thead class = 'info_index'>
    <tr>
      <th><%= t '.Title' %></th>
      <th><%= t '.Content' %></th>
      <th><%= t '.Deadline' %></th>
      <th><%= t '.Priority' %></th>
      <th><%= t '.Status' %></th>
      <th colspan="3"><%= t '.What_to_do' %></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td class = 'td1'><%= task.title %></td>
        <td class = 'td2'><%= task.content %></td>
        <td class = 'td3'><%= task.deadline %></td>
        <td class = 'td4'><%= task.priority %></td>
        <td class = 'td5'><%= task.status %></td>
        <td class = 'td6'><%= link_to t('tasks.index.Show'), task %></td>
        <td class = 'td7'><%= link_to t('tasks.index.Edit'), edit_task_path(task) %></td>
        <td class = 'td8'><%= link_to t('tasks.index.Destroy'), task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @tasks %>

<br>

<div class = 'info_back'>
  <%= link_to t('tasks.index.New Task'), new_task_path %>
</div>
