<h1><%= t '.Task_detail' %></h1>

<div class = show_group>
  <p class = 'show_label'>
    <strong><%= t '.Label' %> :</strong>
    <% @task.labels.each do |label| %>
      <%= label.label_type %>
    <% end %>
  </p>

  <p class = 'show_title'>
    <strong><%= t '.Title' %> :</strong>
    <%= @task.title %>
  </p>

  <p class = 'show_content'>
    <strong><%= t '.Content' %> :</strong>
    <%= @task.content %>
  </p>

  <p class = 'show_deadline'>
    <strong><%= t '.Deadline' %> :</strong>
    <%= @task.deadline %>
  </p>

  <p class = 'show_priority'>
    <strong><%= t '.Priority' %> :</strong>
    <%= @task.priority %>
  </p>

  <p class = 'show_status'>
    <strong><%= t '.Status' %> :</strong>
    <%= @task.status %>
  </p>
</div>

<div class = 'info_editback'>
  <%= link_to t('Edit'), edit_task_path(@task) %>
  <%= link_to t('Back'), tasks_path %>
</div>
